@import "tailwindcss";

:root {
  --dark-notification-color: #40d169;
  --dark-background-color: #0a0a0a;
  --dark-send-bubble: #145345;
  --dark-receive-bubble: #363636;
  --dark-font-primary: #ffffff;
  --dark-font-secondary: #767676;
  --light-notification-color: #40d169;
  --light-background-color: #ffffff;
  --light-send-bubble: #e3fdd4;
  --light-receive-bubble: #ffffff;
  --light-font-primary: #0a0a0a;
  --light-font-secondary: #767676;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
